html {
	margin: 0px;
	padding: 0px;
}

.centered {
	text-align: center;
}

.heading {
}

.bottom {
}

.wrapper {
	max-width: 200px;
	height: 350px;
	margin: auto;
	padding-top: 30px;
	display: block;
}

.top_frame {
	position: relative;
	margin: auto;
	width: 200px;
	height: 20px;
	background: url(“kidbackground.jpg");
	border-radius: 6px 6px 0px 6px;
}

.side_frame {
	position: relative;
	left: 180px;
	width: 20px;
	height: 300px;
	background: url(“kidbackground.jpg");
	border-radius: 6px 6px 0px 0px;
}

.base_frame {
	position: relative;
	margin: auto;
	left: 90px;
	width: 200px;
	height: 20px;
	background: url(“kidbackground.jpg");
	border-radius: 6px 6px 6px 6px;
}

.angle1 {
	position: relative;
	left: 175px;
	top: -55px;
	-webkit-transform: rotate(45deg);
	width: 100px;
	height: 20px;
	background: url(“kidbackground.jpg");
	z-index: -1;
}

.angle2 {
	position: relative;
	left: 105px;
	top: -75px;
	-webkit-transform: rotate(135deg);
	width: 100px;
	height: 20px;
	background: url(“kidbackground.jpg");
	z-index: -1;

} 