<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="1348.17">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Liberation Mono'; color: #323333; -webkit-text-stroke: #323333}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Liberation Mono'}
    p.p3 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Liberation Mono'; color: #323333; -webkit-text-stroke: #323333; min-height: 14.0px}
    p.p4 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Liberation Mono'; -webkit-text-stroke: #000000; min-height: 14.0px}
    p.p5 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px 'Liberation Mono'; color: #63a35c; -webkit-text-stroke: #63a35c}
    span.s1 {font-kerning: none}
    span.s2 {font-kerning: none; color: #323333; -webkit-text-stroke: 0px #323333}
    span.s3 {font-kerning: none; color: #63a35c; -webkit-text-stroke: 0px #63a35c}
    span.Apple-tab-span {white-space:pre}
    table.t1 {border-collapse: collapse}
    td.td1 {width: 928.0px; padding: 0.0px 10.0px 0.0px 10.0px}
    td.td2 {width: 50.0px; min-width: 50.0px; border-style: solid; border-width: 0.0px 1.0px 0.0px 0.0px; border-color: transparent #eeeeee transparent transparent; padding: 0.0px 10.0px 0.0px 10.0px}
    td.td3 {width: 50.0px; min-width: 50.0px; height: 1.0px; border-style: solid; border-width: 0.0px 1.0px 0.0px 0.0px; border-color: transparent #eeeeee transparent transparent; padding: 0.0px 10.0px 0.0px 10.0px}
    td.td4 {width: 928.0px; height: 1.0px; padding: 0.0px 10.0px 0.0px 10.0px}
  </style>
</head>
<body>
<table cellspacing="0" cellpadding="0" class="t1">
  <tbody>
    <tr>
      <td colspan="2" valign="top" class="td1">
        <p class="p1"><span class="s1">&lt;!DOCTYPE html&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">        </span>&lt;html&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">        </span>&lt;head&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">          </span>{% block head%}</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">          </span>&lt;title&gt; Lakota Immersion Childcare | {% block title %} Home {% end block %}&lt;/title&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">          </span>&lt;link rel=“stylesheet” href =“/static/Lakota-Language.css”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">          </span>{% endblock %}</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">        </span>&lt;/head&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">        </span>&lt;body&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">             </span>&lt;div class=“heading centered”&gt;</span></p>
        <p class="p2"><span class="s2"><span class="Apple-converted-space">                  </span>&lt;h1&gt;{% block intro %}</span><span class="s1">Oúŋčhaǧe and Wóyuha{% end block %}&lt;/h1&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">        </span>&lt;/div&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">             </span>&lt;div class=“wrapper”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                  </span>&lt;div class=“top_frame”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                       </span>&lt;div class=“side_frame”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                       </span>&lt;/div&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                       </span>&lt;div class=“base_frame”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                       </span>&lt;/div&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                            </span>&lt;div class=“angle1”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                            </span>&lt;/div&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                            </span>&lt;div class=“angle2”&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                            </span>&lt;/div&gt;</span></p>
        <p class="p1"><span class="s1"><span class="Apple-converted-space">                  </span>&lt;/div&gt;</span></p>
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td3">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td4">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"><span class="Apple-tab-span">	</span></span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"></span><br></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p3"><span class="s1"><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span></span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span>{% endif %}<span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span></span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span>&lt;/</span><span class="s3">div</span><span class="s1">&gt;</span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span>{% endif %}<span class="Apple-tab-span">	</span></span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span>&lt;/</span><span class="s3">div</span><span class="s1">&gt;<span class="Apple-tab-span">	</span></span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span><span class="Apple-tab-span">	</span>{% endif %}<span class="Apple-tab-span">	</span></span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>&lt;/</span><span class="s3">div</span><span class="s1">&gt;</span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>{%block word %}</span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p1"><span class="s1"><span class="Apple-tab-span">	</span>{% endblock %}</span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p5"><span class="s2">&lt;/</span><span class="s1">body</span><span class="s2">&gt;</span></p>
      </td>
    </tr>
    <tr>
      <td valign="top" class="td2">
        <p class="p4"><span class="s1"></span><br></p>
      </td>
      <td valign="top" class="td1">
        <p class="p5"><span class="s2">&lt;/</span><span class="s1">html</span><span class="s2">&gt;</span></p>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>
